# Env
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtualenvs
.venv/

# Tooling caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.pyre/
.pytype/

# Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
.cache/
.tox/
.nox/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
logs/
